.title{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 2rem;
}

.align-text{
    text-align: center;
    font-size: 18px;
    font-family:  'Lato', sans-serif 
}

.login-label{
    text-align: left !important;
    font-size: 14px !important;
}

.input{
    text-align: left !important;
}

.btn-login{
    width: -webkit-fill-available;
}

.center-text{
    padding-top: 10px;
}

.login-box{
    position: relative;
    margin:auto;
    width: 400px;
    min-height: 500px;
    border: 1px solid #ddd;
    margin-top: 4em;
}

.content-box{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10%;
}