.product-box{
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.btn-container{
    width:100%;
    height: 65px;
}

.center-text{
    text-align: center;
}

.cstm-icon{
    font-size: 18px;
    margin-right: 1em;
}



.filter{
    border:2px solid #ddd;
    border-radius: 50%;
}

.filter:focus{
    outline: none !important;
}

.min-font{
    font-size: 1em;
    color: #bbb;
}

.align-end{
    margin-left: 35%;
}


.align-center{
    margin-left: 40%;
}

.cart-cont{
    color: #fff;
}

.min-space{
    letter-spacing: normal !important;
}

.btn-cart{
    background-color: #FF3386 !important;
}

.font-size-min{
    font-size: 18px !important;
}

.cart-text{
    font-family:  'Lato', sans-serif !important;
}

.product-box:hover{
    position: relative;
    transform: scale(1.15);
    z-index: 5;
}

.img-box{
    text-align: center;
    position: relative;
    width:100%;
    height: 200px;
}

.product-disabled{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 3;
    height: 50px;
    background-color: rgba(255,255,255,0.3);
}

.product-image{
    position: relative;
    width: 100%;
    height: 100%;
}

.cart-cont{
    text-align: center;
	color: #FFFFFF;
    font-family: 'Shadows Into Light', cursive;
    background-color: #f00;
    border-radius: 50%;
    display: inline;
    font-size: 18px;
    padding-left: 10px;
}

