.align-text{
    text-align: center;
    font-size: 18px;
    font-family:  'Lato', sans-serif 
}

.product-row{
    width: 100%;
    min-height: 100px;
    max-height: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.center-text{
    padding-top: 10px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}

.left{
    text-align: left;
    font-family:  'Lato', sans-serif !important;
    letter-spacing: normal;
}

.end{
    text-align: end;
}